<section>
    <div class="section-body cus-section-tabs">
        <div class="row">
            <!-- BEGIN ALERT - REVENUE -->
            <div class="col-md-3 col-sm-6">
                <div class="card">
                    <div class="card-body no-padding">
                        <div class="alert alert-callout alert-info no-margin">
                            @*<strong class="pull-right text-success text-lg">0,38% <i class="md md-trending-up"></i></strong>*@
                            <strong class="text-xl">@ViewBag.Total</strong><br />
                            <input type="hidden" id="Role" value="3" />
                            <span class="opacity-50">Total BackLog Applications</span>
                            <div class="stick-bottom-left-right">
                                <div class="progress progress-hairline no-margin">
                                    <div class="progress-bar progress-bar-warning" style="width:43%"></div>
                                </div>
                            </div>
                        </div>
                    </div><!--end .card-body -->
                </div><!--end .card -->
            </div><!--end .col -->
            <div class="col-md-3 col-sm-6">
                <a href="">
                    <div class="card">
                        <div class="card-body no-padding">
                            <div class="alert alert-callout alert-danger no-margin">
                                @*<strong class="pull-right text-danger text-lg">0,18% <i class="md md-trending-down"></i></strong>*@
                                <strong class="text-xl">@ViewBag.TotalPending</strong><br />
                                <span class="opacity-50">Total Pending BackLog Applications</span>
                                <div class="stick-bottom-left-right">
                                    <div class="progress progress-hairline no-margin">
                                        <div class="progress-bar progress-bar-danger" style="width:43%"></div>
                                    </div>
                                </div>
                            </div>
                        </div><!--end .card-body -->
                    </div><!--end .card -->
                </a>
            </div><!--end .col -->

            <div class="col-md-3 col-sm-6">
                <div class="card">
                    <div class="card-body no-padding">
                        <div class="alert alert-callout alert-warning no-margin">
                            @*<strong class="pull-right text-warning text-lg">0,01% <i class="md md-swap-vert"></i></strong>*@
                            <strong class="text-xl">@ViewBag.TotalApprove</strong><br />
                            <a href="#">
                                <span class="opacity-50">To ARCS Officer</span>
                            </a>
                            <div class="stick-bottom-left-right">
                                <div class="progress progress-hairline no-margin">
                                    <div class="progress-bar progress-bar-success" style="width:43%"></div>
                                </div>
                            </div>
                        </div>
                    </div><!--end .card-body -->
                </div><!--end .card -->
            </div>
        </div><!--end .row -->
    </div><!--end .section-body -->
</section>
<script language="javascript" type="text/javascript">
    function noBack() { window.history.forward() }
    noBack();
    window.onload = noBack;
    window.onpageshow = function (evt) { if (evt.persisted) noBack() }
    window.onunload = function () { void (0) }
</script>
<script type="text/javascript" language="Javascript">
    history.go(1);
</script> 