<div id="menubar" class="menubar-inverse" ng-controller="menuCtrl" ng-if="userData.isUserLoggedIn">
    <div class="menubar-fixed-panel">
        <div>
            <a class="btn btn-icon-toggle btn-default menubar-toggle" data-toggle="menubar" href="javascript:void(0);">
                <i class="fa fa-bars"></i>
            </a>
        </div>
        <div class="expanded">
            <a href="#/home">
                <span class="text-lg text-bold text-primary ">LEGAL&nbsp;EAGLE</span>
            </a>
        </div>
    </div>
    <div class="menubar-scroll-panel">
        <!-- BEGIN MAIN MENU -->
        <ul id="main-menu" class="gui-controls" ng-repeat="menu in menuData">
            <!-- BEGIN DASHBOARD -->
            <li>
                <a ng-href="#/{{menu.url}}/">
                    <span class="title">{{menu.menuItem}}</span>
                </a>
            </li><!--end /menu-li -->
            <!-- END DASHBOARD -->
        </ul><!--end .main-menu -->
        <!-- END MAIN MENU -->
        <ul class="nav nav-pills nav-stacked">
            <li><a ng-href="#/login" ng-if="!userData.isUserLoggedIn">Login<i class="fa fa-sign-in fa-fw pull-right"></i></a></li>
            <li><button type="button" class="btn btn-danger btn-sm" ng-click="logout();" ng-if="userData.isUserLoggedIn">Logout<i class="fa fa-sign-out fa-fw pull-right"></i></a></li>
        </ul>
        <div class="menubar-foot-panel">
            <small class="no-linebreak hidden-folded">
                <span class="opacity-75">Copyright &copy; 2014</span> <strong>CodeCovers</strong>
            </small>
        </div>
    </div><!--end .menubar-scroll-panel-->
</div>