
<div class="col-lg-12">
    <div class="card">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table no-margin">
                    <thead>
                        <tr>
                            <th>
                                Docs Name
                            </th>
                            <th>
                                View
                            </th>
                        </tr>
                    </thead>
                    <tbody class="tbody">
                        <tr>
                            <td>
                                Form L
                            </td>
                            <td>
                                <a href="~/ViewPDF.aspx?FormType=1" target="_blank">View</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Form C
                            </td>
                            <td>
                                <a href="~/ViewPDF.aspx?FormType=2" target="_blank">View</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Form D
                            </td>
                            <td>
                                <a href="~/ViewPDF.aspx?FormType=3" target="_blank">View</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Form E
                            </td>
                            <td>
                                <a href="~/ViewPDF.aspx?FormType=4" target="_blank">View</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Bye-Laws
                            </td>
                            <td>
                                <a href="~/ViewPDF.aspx?FormType=10" target="_blank">View</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Bank Receipt
                            </td>
                            <td>
                                <a href="~/ViewPDF.aspx?FormType=5" target="_blank">View</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div><!--end .table-responsive -->
        </div><!--end .card-body -->
    </div><!--end .card -->
</div>