@*<script src="~/scripts/js/BackLogManagingcommitteMembers.js"></script>*@
<style>
    #dvLoading {
        background: #000 url('../../images/giphy.gif') no-repeat center center;
        height: 100px;
        width: 100px;
        position: fixed;
        z-index: 1000;
        left: 50%;
        top: 50%;
        margin: -25px 0 0 -25px;
    }
</style>
<div id="dvLoading" style="display:none"></div>
<div class="tools row">
    <div class="col-lg-6 text-left"><a id="BackToApplication" class="btn btn-flat hidden-xs" href="#"><span class="glyphicon glyphicon-arrow-left"></span> &nbsp;Step 1</a></div>
    <div class="col-lg-6 text-right"><a id="NextToSocietyMembers" class="btn btn-flat hidden-xs" href="#"><span class="glyphicon glyphicon-arrow-right"></span> &nbsp;Step 3</a></div>
</div>
<div class="col-xs-12 text-right">
    <button id="AddManagingCommitteMembers" type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" onclick="clearTextBoxOfManagingCommitteMember();">Add First Managing Committe Members</button><br /><br />
</div>

@{
    //var first = RCSEntities.UserInfo.CitizenInfo.NoOfMembers.ToString();
    //var second = RCSEntities.UserInfo.CitizenInfo.AddedMember.ToString();
    var first = Convert.ToString(Convert.ToInt32(Session["NoOfMembers"]));
    var second = Convert.ToString(Convert.ToInt32(Session["AddedMember"]));
    if (string.IsNullOrEmpty(first))
    {
        first = "0";
    }
    if (string.IsNullOrEmpty(second))
    {
        second = "0";
    }
}
<div class="col-lg-12">
    <div class="card">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table no-margin">
                    <thead>
                        <tr>
                            <th hidden="hidden">
                                ID
                            </th>
                            <th>
                                Name
                            </th>
                            <th>
                                Guardian's/ Father's /Husband's Name
                            </th>
                            <th>
                                Designation
                            </th>
                            <th id="tblactionCommitteMember">
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody class="tbody"></tbody>
                </table>
            </div><!--end .table-responsive -->
        </div><!--end .card-body -->
    </div><!--end .card -->
</div>
<div class="modal fade cus-modal-div" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Add First Managing Committe Members</h4>
            </div>
            <div class="modal-body">
                <form class="form form-validate" novalidate="novalidate" accept-charset="utf-8" method="post">
                    <div class="row">
                        <div class="card">
                            <div class="card-body">
                                <div class="col-md-6 form-group">
                                    <input type="hidden" class="form-control" id="SocietyMemberID" name="SocietyMemberID">
                                    <input pattern="[a-zA-Z0-9.\s]+" type="text" autocomplete="off" class="form-control" id="SocietyMemberName" name="SocietyMemberName" required>
                                    <label for="SocietyMemberName">1. Society Member Name <span style="color:red;"><strong>*</strong></span></label>
                                </div>
                                <div class="col-md-6 form-group">
                                    <input pattern="[a-zA-Z0-9.\s]+" type="text" autocomplete="off" class="form-control" id="RelationshipMemberName" name="RelationshipMemberName" required>
                                    <label for="RelationshipMemberName">2. Guardian's/ Father's /Husband's Name <span style="color:red;"><strong>*</strong></span></label>
                                </div>
                                <div class="col-md-6 form-group">
                                    @Html.DropDownList("ManagingRelationshipName", new SelectList(ViewBag.Relationship as System.Collections.IEnumerable, "Value", "Text"),
                                                         "Select", new { id = "ManagingRelationshipName", @class = "form-control", required = "required" })
                                    <label for="SocietyMemberDesignation">3. Relationship With Committee Member <span style="color:red;"><strong>*</strong></span></label>
                                </div>
                                <div class="col-md-6 form-group">
                                    @Html.DropDownList("SocietyMemberDesignation", new SelectList(ViewBag.MemberCommDesignation as System.Collections.IEnumerable, "Value", "Text"),
                                                     "Select", new { id = "SocietyMemberDesignation", @class = "form-control", required = "required" })
                                    <label for="SocietyMemberDesignation">4. Society Member Designation <span style="color:red;"><strong>*</strong></span></label>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" id="btnAdd11" onclick="return AddManagingCommitteMember();">Add</button>
                            <button type="button" class="btn btn-primary" id="btnUpdate11" style="display:none;" onclick="UpdateManagingCommitteMember();">Update</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<style>
    .cus-modal-div .modal-dialog {
        width: 70% !important;
    }
</style>
<script>
    $(document).ready(function () {
        var f1 = @first;
        var f2 = @second;
        if(f1==f2 && f1>"0" && f2>"0")
        {
            $('#AddManagingCommitteMembers').hide();
            //event.preventDefault();
        }
    });

    $('#AddManagingCommitteMembers').click(function () {
        $("#result").html("<span style='color:#333'>6. AadharNo</span>");
    });


</script>