<header id="header">
    <div class="headerbar">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 cus-header" style="padding: 0;">
            <img src="~/Content/assets/img/RCS.png" class="img-responsive" />
        </div>
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="headerbar-left">
            <ul class="header-nav header-nav-options">
                <li class="header-nav-brand">
                    <div class="brand-holder">
                        <a href="#">
                            <span class="text-lg text-bold text-primary">RCS HARYANA</span>
                        </a>
                    </div>
                </li>
                <li>
                    <a class="btn btn-icon-toggle menubar-toggle" data-toggle="menubar" href="javascript:void(0);">
                        <i class="fa fa-bars"></i>
                    </a>
                </li>
            </ul>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="headerbar-right">
        @if(Convert.ToInt32(Session["RoleId"]) != 0) { 
if (Convert.ToString(Session["RoleId"]) == "1")
{
  <ul class="header-nav header-nav-options">
                <li class="dropdown hidden-xs">
                    <a id="tour-go" class="btn btn-icon-toggle btn-default" data-toggle="dropdown">
                        <sup class="badge style-danger">Start A Tour!</sup>
                    </a>
                </li>
            </ul>
}
        }
          
            <ul class="header-nav header-nav-profile">
                <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle ink-reaction" data-toggle="dropdown">
                        <span class="profile-info">
                            RCS HARYANA
                            @*<small class="text-bold">@RCSEntities.UserInfo.CitizenInfo.Name</small>*@
                            <small class="text-bold">@Session["Name"]</small>
                        </span>
                    </a>
                    <ul class="dropdown-menu animation-dock">
                        <li>
                            <a id="btnLogout" href="@Url.Action("LogOut", "Account")"><i class="fa fa-fw fa-power-off text-danger"></i>Logout</a>
                        </li>
                    </ul><!--end .dropdown-menu -->
                </li><!--end .dropdown -->
            </ul><!--end .header-nav-profile -->
        </div><!--end #header-navbar-collapse -->
    </div>
</header>
<script>
    $("#btnLogout").click(function () {
        localStorage.clear();
        sessionStorage.clear();
    });
</script>