
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>RCS Haryana</title>

    <!-- BEGIN META -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="your,keywords">
    <meta name="description" content="Short explanation about this website">
    <!-- END META -->
    <!-- BEGIN STYLESHEETS -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:300italic,400italic,300,400,500,700,900' rel='stylesheet' type='text/css' />
    <link type="text/css" rel="stylesheet" href="/content/assets/css/theme-default/bootstrap.css?1422792965" />
    <link type="text/css" rel="stylesheet" href="/content/assets/css/theme-default/materialadmin.css?1425466319" />
    <link type="text/css" rel="stylesheet" href="/content/assets/css/theme-default/font-awesome.min.css?1422529194" />
    <link type="text/css" rel="stylesheet" href="/content/assets/css/theme-default/material-design-iconic-font.min.css?1421434286" />
    <link type="text/css" rel="stylesheet" href="/Content/assets/css/theme-1/libs/jquery-ui/jquery-ui-boostbox.css" />
    @*<link rel="stylesheet" href="https://jqueryvalidation.org/files/demo/site-demos.css">*@
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"
            integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30="
            crossorigin="anonymous"></script>

    @*<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>*@

    @*<script src="/content/assets/js/libs/jquery/jquery-1.11.2.min.js"></script>*@
    <!-- END STYLESHEETS -->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script type="text/javascript" src="/content/assets/js/libs/utils/html5shiv.js?1403934957"></script>
    <script type="text/javascript" src="/content/assets/js/libs/utils/respond.min.js?1403934956"></script>
    <![endif]-->
</head>

<body class="menubar-hoverable header-fixed menubar-pin ">

    <!-- BEGIN HEADER-->

    @Html.Partial("_Header")
    <!-- END HEADER-->
    <!-- BEGIN BASE-->

    <div id="base">

        <!-- BEGIN OFFCANVAS LEFT -->
        <div class="offcanvas">
        </div><!--end .offcanvas-->
        <!-- END OFFCANVAS LEFT -->
        <!-- BEGIN CONTENT-->
        <div id="content">

            <!-- BEGIN BLANK SECTION -->
            @RenderBody()

            <!-- BEGIN BLANK SECTION -->
        </div><!--end #content-->
        <!-- END CONTENT -->
        <!-- BEGIN MENUBAR-->
        @Html.Partial("_Menubar")
        <!--end #menubar-->
        <!-- END MENUBAR -->
        <!-- BEGIN OFFCANVAS RIGHT -->
        @Html.Partial("_OffCanvas")
        <!--end .offcanvas-->
        <!-- END OFFCANVAS RIGHT -->

    </div><!--end #base-->
    <!-- END BASE -->
    <!-- BEGIN JAVASCRIPT -->

    @*<script src="/Content/assets/js/libs/jquery-ui/jquery-ui.min.js"></script>
    <script src="/content/assets/js/libs/jquery/jquery-migrate-1.2.1.min.js"></script>*@
    <script src="/content/assets/js/libs/bootstrap/bootstrap.min.js"></script>
    <script src="/content/assets/js/libs/spin.js/spin.min.js"></script>
    <script src="/content/assets/js/libs/autosize/jquery.autosize.min.js"></script>
    <script src="/content/assets/js/libs/nanoscroller/jquery.nanoscroller.min.js"></script>
    <script src="/content/assets/js/libs/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="/content/assets/js/libs/jquery-validation/dist/additional-methods.min.js"></script>
    <script src="/content/assets/js/core/source/App.js"></script>
    <script src="/content/assets/js/core/source/AppNavigation.js"></script>
    <script src="/content/assets/js/core/source/AppOffcanvas.js"></script>
    <script src="/content/assets/js/core/source/AppCard.js"></script>
    <script src="/content/assets/js/core/source/AppForm.js"></script>
    <script src="/content/assets/js/core/source/AppNavSearch.js"></script>
    <script src="/content/assets/js/core/source/AppVendor.js"></script>
    <script src="/content/assets/js/core/demo/Demo.js"></script>
    <!-- END JAVASCRIPT -->
</body>
</html>
