<script src="~/scripts/js/committeMembers.js"></script>
<div class="col-xs-12 text-right">
    <button id="AddMemberDetails" type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal1" onclick="clearTextBox();">Add Member Details</button><br /><br />
</div>
<div class="col-lg-12">
    <div class="card">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table no-margin">
                    <thead>
                        <tr>
                            <th hidden="hidden">
                                ID
                            </th>
                            <th>
                                Member Name
                            </th>
                            <th>
                                Father Name
                            </th>
                            <th>
                                Mobile
                            </th>
                            <th>
                                Nominee Name
                            </th>
                            <th>
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody class="tbody1"></tbody>
                </table>
            </div><!--end .table-responsive -->
        </div><!--end .card-body -->
    </div><!--end .card -->
</div>
<div class="modal fade cus-modal-div" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Add Committe Members</h4>
            </div>
            <div class="modal-body">
                <form class="form form-validate" novalidate="novalidate" accept-charset="utf-8" method="post">
                    <div class="card">
                        <div class="card-body">
                            <div class="col-md-6 form-group">
                                <input type="hidden" class="form-control" id="MemberSNo" name="MemberSNo">
                                <input type="text" class="form-control" id="MemberName" name="MemberName" required>
                                <label for="MemberName">1. Member Name</label>
                            </div>
                            <div class="col-md-6 form-group">
                                <input type="text" class="form-control" id="FatherName" name="FatherName" required>
                                <label for="FatherName">2. Father Name</label>
                            </div>
                            <div class="col-md-6 form-group">
                                @Html.DropDownList("GenderOfSocietyMember", new List<SelectListItem>
                                                 { new SelectListItem { Text = "Male", Value = "Male"},
                                                   new SelectListItem { Text = "Female", Value = "Female"},
                                                   new SelectListItem { Text = "Trans Gender", Value = "Trans Gender"}
                                                   }, "Select Gender", new { id = "GenderOfSocietyMember", @class = "form-control", required = "required" })
                                <label for="SelectGender">3. Select Gender</label>
                            </div>
                            <div class="col-md-6 form-group">
                                <input type="text" class="form-control" id="Age" name="Age" required data-rule-range="[18,100]" data-rule-digits="true">
                                <label for="Age">4. Age</label>
                            </div>
                            <div class="col-md-6 form-group">
                                <input type="text" class="form-control" id="MobileNumberOfSocietyMember" name="MobileNumberOfSocietyMember" data-rule-digits="true" maxlength="10" minlength="10" required>
                                <label for="Mobile">5. Mobile</label>
                                <p class="help-block">10 digit mobile no</p>
                            </div>
                            <div class="col-md-6 form-group">
                                <input type="email" class="form-control" id="EmailId" name="EmailId" required>
                                <label for="EmailId">6 Email</label>
                                <p class="help-block">example@example.com</p>
                            </div>
                            <div id="divAadharNo1" class="col-md-6 form-group">
                                <input type="text" class="form-control AadharNo1" id="AadharNo1" name="AadharNo1" data-rule-digits="true" maxlength="12" minlength="12" required>
                                <label id="result1" for="AadharNo">7. AadharNo</label>
                                <p class="help-block">12 aadhar no</p>
                            </div>
                            <div class="col-md-6 form-group">
                                @Html.DropDownList("OccupationOfMember", new SelectList(ViewBag.Occupations as System.Collections.IEnumerable, "Value", "Text"),
                                                     "Select", new { id = "OccupationOfMember", @class = "form-control", required = "required" })
                                <label for="Occupationofmembers">8. Occupation of members</label>
                            </div>
                            <div class="col-md-6 form-group">
                                <input type="text" class="form-control" id="NoofSharesSubscribed" name="NoofSharesSubscribed" data-rule-digits="true" required>
                                <label for="NoofSharesSubscribed">9. No. of Shares Subscribed</label>
                            </div>
                            <div class="col-md-6 form-group">
                                <input type="text" class="form-control" id="NameofNominee" name="NameofNominee" required>
                                <label for="NameofNominee">11. Name of Nominee</label>
                            </div>
                            <div class="col-md-6 form-group">
                                <input type="text" class="form-control" id="NomineeAge" name="NomineeAge" required data-rule-range="[1,100]" data-rule-digits="true">
                                <label for="NomineeAge">4. Nominee Age</label>
                            </div>
                            <div class="col-md-6 form-group">
                                @Html.DropDownList("RelationshipCodeOfSocietyMember", new SelectList(ViewBag.Relationship as System.Collections.IEnumerable, "Value", "Text"),
                                                     "Select", new { id = "RelationshipCodeOfSocietyMember", @class = "form-control", required = "required" })
                                <label for="RelationshipCode">10. Relationship with Nominee</label>
                            </div>
                            <div class="col-md-6 form-group">
                                <input type="text" class="form-control" id="Address1" name="Address1" required>
                                <label for="RegisteredAddress">11. Place of Residence</label>
                            </div>
                            <div class="col-md-6 form-group">
                                <input type="text" class="form-control" id="Address2" name="Address2" required>
                                <label for="HouseNoSectorNoRoad">11.1 House No. /Sector No. /Road</label>
                            </div>
                            <div class="col-md-6 form-group">
                                <input type="text" class="form-control" id="PostOfficeOfSocietyMember" name="PostOfficeOfSocietyMember" required>
                                <label for="PostOffice">11.2 Post Office</label>
                            </div>
                            <div class="col-md-6 form-group">
                                <input type="text" class="form-control" id="PostalCodeOfSocietyMember" name="PostalCodeOfSocietyMember" data-rule-number="true" maxlength="6" minlength="6" pattern="[0-9]{6}" data-rule-digits="true" required>
                                <label for="PostalCode">11.3 Postal Code</label>
                                <p class="help-block">Six digit zip code</p>
                            </div>
                            <div class="col-md-6 form-group">
                                @Html.DropDownList("DistrictOfMember", new SelectList(ViewBag.District as System.Collections.IEnumerable, "Value", "Text"),
                                                     "Select", new { id = "DistrictOfMember", @class = "form-control", required = "required" })
                                <label for="District">11. District</label>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" id="btnAdd1" onclick="return Add();">Add</button>
                            <button type="button" class="btn btn-primary" id="btnUpdate1" style="display:none;" onclick="Update();">Update</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<style>
    .cus-modal-div .modal-dialog {
        width: 70% !important;
    }
</style>
<script>
    $('#AddMemberDetails').click(function () {
        $("#result1").html("<span style='color:#333'>7. AadharNo</span>");
    });
</script>

