<div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-head">
                    <header>Latest New 10 Applications</header>
                    <div class="tools hidden-md">
                        <a class="btn btn-icon-toggle btn-close"><i class="md md-close"></i></a>
                    </div>
                </div><!--end .card-head -->
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table no-margin">
                                    <thead>
                                        <tr>
                                            <th hidden="hidden">
                                                Society ID
                                            </th>
                                            <th hidden="hidden">
                                                SocietyTransID
                                            </th>
                                            <th>
                                                Name of Society
                                            </th>
                                            <th>
                                                Area Of Operation 
                                            </th>
                                            <th>
                                               Purpose of society
                                            </th>
                                            <th>
                                                Total Members
                                            </th>
                                            <th>
                                                Type of Society 
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody class="SocietyListForOfficer"></tbody>
                                </table>
                            </div><!--end .table-responsive -->
                        </div><!--end .card-body -->
                    </div><!--end .card -->
                </div><!--end .card-body -->
            </div><!--end .card -->
        </div>
    </div>
  
