@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>RCS - Login</title>
    <!-- BEGIN META -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="your,keywords">
    <meta name="description" content="Short explanation about this website">


    <meta http-equiv="cache-control" content="max-age=0" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    <meta http-equiv="pragma" content="no-cache" />
    <!-- END META -->
    <!-- BEGIN STYLESHEETS -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:300italic,400italic,300,400,500,700,900' rel='stylesheet' type='text/css' />
    <link type="text/css" rel="stylesheet" href="/content/assets/css/theme-default/bootstrap.css?1422792965" />
    <link type="text/css" rel="stylesheet" href="/content/assets/css/theme-default/materialadmin.css?1425466319" />
    <link type="text/css" rel="stylesheet" href="/content/assets/css/theme-default/font-awesome.min.css?1422529194" />
    <link type="text/css" rel="stylesheet" href="/content/assets/css/theme-default/material-design-iconic-font.min.css?1421434286" />
    <!-- END STYLESHEETS -->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    @*[if lt IE 9]>
        <script type="text/javascript" src="/content/assets/js/libs/utils/html5shiv.js?1403934957"></script>
        <script type="text/javascript" src="/content/assets/js/libs/utils/respond.min.js?1403934956"></script>
        <![endif]*@
    <style type="text/css">
        .form-group.captcha-reply {
            margin: 0 !important;
            padding: 0 !important;
        }

        .section.section-account {
            padding: 0 !important;
        }

        .captcha-reply img#CaptchaImage {
            width: 125px;
        }

        .captcha-reply input#CaptchaInputText {
            width: 100%;
            background: transparent;
            border: none;
            border-bottom: 1px solid;
            border-color: rgba(12, 12, 12, 0.12);
        }

        /*.password {
            -webkit-text-security: circle !important;
        }*/

        /*input {
            -webkit-text-security: square !important;
            text-security: square !important;
        }*/
    </style>
 <style>
           
    </style>
</head>
<body class="menubar-hoverable header-fixed ">
    <!-- BEGIN LOGIN SECTION -->
    <section>
        <div class="section-header">
            <ol class="breadcrumb">
                <li><a href="">home</a></li>
                @*<li class="active">500</li>*@
            </ol>
        </div>
        <div class="section-body contain-lg">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h1><span class="text-xxxl text-light">Something went wrong..... <i class="fa fa-exclamation-circle text-danger"></i></span></h1>
                    <form class="form form-validate" novalidate="novalidate" action="@Url.Action("Registration", "Account")" accept-charset="utf-8">
                        <button type="submit" class="btn btn-block ink-reaction btn-danger">Go To Registration</button>
                    </form>
                </div><!--end .col -->
            </div><!--end .row -->
        </div><!--end .section-body -->
    </section>
    <!-- END LOGIN SECTION -->
    <!-- BEGIN JAVASCRIPT -->
    <script src="/Content/assets/js/libs/jquery/SHA256.js"></script>
    <script src="/content/assets/js/libs/jquery/jquery-1.11.2.min.js"></script>
    <script src="/content/assets/js/libs/jquery/jquery-migrate-1.2.1.min.js"></script>
    <script src="/content/assets/js/libs/bootstrap/bootstrap.min.js"></script>
    <script src="/content/assets/js/libs/spin.js/spin.min.js"></script>
    <script src="/content/assets/js/libs/autosize/jquery.autosize.min.js"></script>
    <script src="/content/assets/js/libs/nanoscroller/jquery.nanoscroller.min.js"></script>
    <script src="/content/assets/js/core/source/App.js"></script>
    <script src="/content/assets/js/core/source/AppNavigation.js"></script>
    <script src="/content/assets/js/core/source/AppOffcanvas.js"></script>
    <script src="/content/assets/js/core/source/AppCard.js"></script>
    <script src="/content/assets/js/core/source/AppForm.js"></script>
    <script src="/content/assets/js/core/source/AppNavSearch.js"></script>
    <script src="/content/assets/js/core/source/AppVendor.js"></script>
    <script src="/content/assets/js/core/demo/Demo.js"></script>
    <script src="~/scripts/custom.js"></script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <!-- END JAVASCRIPT -->
</body>
</html>

<script language="javascript" type="text/javascript">
    function noBack() { window.history.forward() }
    noBack();
    window.onload = noBack;
    window.onpageshow = function (evt) { if (evt.persisted) noBack() }
    window.onunload = function () { void (0) }
</script>
<script type="text/javascript" language="Javascript">
    history.go(1);
</script> 
