<script src="~/scripts/js/ListOfManagingCommitteeMembersForOfficers.js"></script>
<style>
    .ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year {
        color: black;
        font-size: 12px;
        font-weight: bold;
    }

    .col-md-6 {
        font-weight: normal;
    }
</style>
@Model

<section>
    <div class="section-header">
        <ol class="breadcrumb">
            <li class="active">Approved Society</li>
        </ol>
    </div>
    <div class="section-body contain-lg">
        <div class="card tabs-left style-default-light">
            <!-- BEGIN SEARCH BAR -->

            <section>
                <div class="section-header">
                    <ol class="breadcrumb">
                        <li class="active">Search Record</li>
                    </ol>
                </div>
                <div class="section-body contain-lg">
                    <h4>@ViewBag.Result</h4>
                    @using (Html.BeginForm("CreatePasswordBackLog", "ARCS", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @*@Html.TextBoxFor(m => m.file, new { type = "file" })
                            <button id="submitButton" type="submit">Submit</button>
                            @Html.ValidationMessageFor(model => model.file)*@
                        <label for="SocietyName">Registration No </label>
                            <input pattern="[a-zA-Z0-9\s]+" type="text" autocomplete="off" class="form-control" id="oldReg" name="oldReg">
                            <label for="oldReg">Society Name </label>
                            <input pattern="[a-zA-Z0-9\s]+" type="text" autocomplete="off" class="form-control" id="SocietyName" name="SocietyName">
                            @*<div class="col-md-pull-6">
                                <label for="oldReg">Date of Registration </label>
                            </div>
                                <div class="col-md-6">
                                    <label for="MemberName">From Date </label>
                                    <input type="text" class="form-control" autocomplete="off" id="datepicker" name="datepicker" onpaste="return false">
                                </div>
                                <div class="col-md-6">
                                    <label for="MemberName">To Date</label>
                                    <input type="text" class="form-control" autocomplete="off" id="datepicker2" name="datepicker2">
                                </div>*@
                        <input type="submit" class="btn btn btn-primary" value="Search"/>

                    }
                </div>
            </section>

        </div>
        <div class="row">
            <div class="col-lg-12">
                <button id="button1" runat="server" onserverclick="doIt">Submit</button>
            </div>
        </div>
    </div>
</section>
<script>
    $("#SearchClick").click(function () {
        alert("No Result Found Yet");
    })

</script>
<script src="//code.jquery.com/jquery-1.10.2.js"></script>

<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

<script>

    $(document).ready(function () {
        $(function () {
            $("#datepicker,#datepicker2").datepicker({
                changeMonth: true,
                changeYear: true,
                maxDate: 0,
                yearRange: '-100:+0',
                format: 'DD-MM-YYYY'


            });

        });

            $("#SocietyName").autocomplete({

                source: function (request,response) {

                    $.ajax({

                        url: "/ARCS/GetRecord",

                        type: "POST",

                        dataType: "json",

                        data: { prefix: request.term },

                        success: function (data) {

                            response($.map(data, function (item) {
                                return { label: item.Name, value: item.Name };

                            }))

                        }

                    })

                },

            });


        });

</script>