<div class="panel panel-primary">
    <div class="panel-heading">
       Payment Summary:<span>{{customer.FirstName}} {{customer.LastName}}</span> 
    </div>
    <div class="panel-body">
        <form role="form" novalidate angular-validator name="addConsigneeTerms" angular-validator-submit="addConsignerTerms()">
            <div class="">
                <div class="form-group">
                    <div class="row">
                        <div class="col-xs-12">
                            <div style="height: 300px; overflow: auto;">
                                <div class="list-group  md-whiteframe-z0">
                                    <a class="list-group-item b-l-danger">
                                        <span class="pull-right text-dark-dk">12</span> Opening Balance
                                    </a>
                                    <a class="list-group-item b-l-success">
                                        <span class="pull-right text-dark-dk ">23</span> Payments Received
                                    </a>
                                    <a class="list-group-item b-l-info">
                                        <span class="pull-right text-dark-dk ">23</span> Installments Paid
                                    </a>
                                    <a class="list-group-item b-l-warning">
                                        <span class="pull-right text-dark-dk ">564</span> Closing Balance
                                    </a>
                                </div>
                                <div class="form-group col-md-4">
                                    <label>Due Date:</label><br />
                                    <span class="text-info-dk">{{installmentDate |date:medium}}</span>
                                </div>
                                <div class="form-group col-md-4">
                                    <label>Installment Amount:</label>
                                    <input type="text" class="form-control" value="{{installmentAmnt}}" />
                                </div>
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="panel-footer clearfix">
        <div class="pull-right">
            <button type="button" class="btn ink-reaction btn-flat btn-default" ng-click="cancelConsigner()">Cancel</button>
            <button type="button" class="btn ink-reaction btn-flat btn-success" ng-click="addConsignerTerms()">Adjust Amount</button>
        </div>
    </div>
</div>
