<div class="panel panel-primary">
    <div class="panel-heading panel-heading-sm">
        <small class="text-muted">Payment Summary</small> <span class="text-2x">{{customer.FirstName}} {{customer.LastName}}</span> 
    </div>
    <div class="panel-body text-sm">
        <form role="form" novalidate angular-validator name="addInstalment" angular-validator-submit="adjustInstalment()">
            <div class="">
                <div class="form-group">
                    <div class="row">
                        <div class="col-xs-12">
                            <p ng-bind="msg" class="text-warning-dk"></p>
                            <div style="height: 320px; overflow: auto;">
                                <div class="list-group  md-whiteframe-z0">
                                    <a class="list-group-item b-l-danger">
                                        <span class="pull-right text-dark-dk">{{summary.OpeningBalance | currency : " " : 2}}</span> Opening Balance (<span class="text-muted">-</span>)
                                    </a>
                                    <a class="list-group-item b-l-success">
                                        <span class="pull-right text-dark-dk ">{{summary.PaymentsReceived| currency : " " : 2}}</span>Total Payments Received (<span class="text-muted">+</span>)
                                    </a>
                                    <a class="list-group-item b-l-info">
                                        <span class="pull-right text-dark-dk ">{{summary.PaymentsAdjusted| currency : " " : 2}}</span> Payments Adjusted (<span class="text-muted">-</span>)
                                    </a>
                                    <a class="list-group-item b-l-info">
                                        <span class="pull-right text-dark-dk ">{{interest | currency : " " : 2}}</span> Interest (<span class="text-muted">-</span>)
                                    </a>
                                    <a class="list-group-item b-l-warning">
                                        <span class="pull-right font-bold ">{{summary.ClosingBalance| currency : " " : 2}}</span> Closing Balance
                                    </a>
                                </div>
                                <div class="form-group col-md-4">
                                    <label>Due Date:</label><br />
                                    <span class="text-info-dk">{{installmentDate |date:medium}}</span>
                                </div>
                                <div class="form-group col-md-4">
                                    <label>Installment Amount:</label>
                                    <input type="text" class="form-control" ng-model="installmentAmnt"  />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="panel-footer clearfix">
        <div class="pull-right">
            <button type="button" class="btn ink-reaction btn-flat btn-default" ng-click="cancelConsigner()">Cancel</button>
            <button type="submit" ng-click="adjustInstalment()" id="btnAdjust" ng-if="summary.ClosingBalance > 0" class="btn ink-reaction btn-flat btn-success">Adjust Amount</button>
        </div>
    </div>
</div>
